@forward "variables";

@use "@nextrap/style-base" with (
    $primary: $primary,
    $accent: $accent,
    $enableScrollOffset: true
);

@import "@nextrap/nte-nav";

nte-navbar-line {
    &.topbar {
        nte-nav {
            --text-color: var(--nt-primary) !important;
        }
    }
    --background: white;
    nte-nav {
        --text-color: black;
    }
    a {
        text-decoration: none !important;
    }
}


