@forward "variables";

@use "@nextrap/style-base" with (
    $primary: $primary,
    $accent: $accent
);

@import "@nextrap/nte-nav";

nte-navbar-line {
    --background: #404040;
    nte-nav {
        --text-color: #fff;
    }
}
