
:root {

}

.use-map {
    --joda-use: map();
}

.as__map {
    width: 100%;
    height: 100%;

    position: relative;

    .as__map-overlay {
        & > img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: opacity(0.5);
        }
        & > div {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 99;
            text-align: center;
            button {
                margin-bottom: 40px !important;
            }
        }
        position: absolute;
        width: 100%;
        height: 100%;
    }

    iframe {
    }
}
