

.tjs__hero-max {
    --s-box-background: rgba(255, 255, 255, 0.8);

    --joda-class: ":: mobile :lg: desktop";
    --layout-image-ratio: 16 / 10;

    &.mobile {
        &>slot {
            display: block;
            position: relative;
            width: 100%;
            height: auto;
            overflow: hidden;
            aspect-ratio: var(--layout-image-ratio, 16 / 9);
        }
        & > slot > img {
            object-fit: cover;
            object-position: center top;
            height: 100%;
            width: 100%;
        }

        & > .tjs__hero-max--out-wrapper {

            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 4rem;
            padding-bottom: 4rem;

        }
    }
    &.desktop {

        &.box {
            .content {
                background: var(--s-box-background);
                padding: var(--content-padding, 1rem);
            }

        }

        .tjs__hero-max--container {
            height: 100%;
        }

        min-height: var(--layout-min-height, 400px);
        position: relative;
        &.tjs__hero-max--autoheight {
            height: calc(100vh - var(--t-fullsize-modifier, 200px));
            min-height: var(--layout-min-height, 400px);
            max-height: var(--layout-max-height, 1000px);
        }
        &>slot {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            & > img {
                height: 100%;
                object-fit: cover;
                object-position: center center;
                width: 100%;
            }
        }

        & > .tjs__hero-max--out-wrapper {
            position: absolute;
            z-index: 2;
            top: 0;
            bottom: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;

        }
    }


    width: 100%;
    align-items: center;
    position: relative;
    justify-content: center;
    overflow: hidden;




    .slideshow:empty {
        display: none;
    }

    slot.content{
        display: grid;

        height: 100%;
    }




}
