

.tjs__sec-card-2col {
    padding: var(--t-section-padding);
    background: var(--t-section-background);



    map.aside {
        --joda-class: "";
        display: block;
        min-height: 500px;
        .as__map {
            min-height: 500px;
            iframe {
                min-height: 500px;
            }
        }

    }

    .aside {
        --joda-class: p-4 p-lg-5 ;
    }



    .row > .tjs__sec-card-2col--col-start  {
        --joda-class: "col-12 col-lg-6 p-4 p-lg-5 order-2 order-lg-1";
    }


    .row > .tjs__sec-card-2col--col-end  {

        --joda-class: "col-12 col-lg-6 order-1 order-lg-2";
        &:has(> slot > .aside) {
            --joda-class: "col-12 col-lg-6 order-3 order-lg-1";
        }
        slot {
            display: block;
            width: 100%;
            height: 100%;
        }
        img {
            height: 100%;
            width: 100%;
            object-position: center center;
            object-fit: cover;
        }
    }


    .tjs__sec-card-2col--container {
          border: 1px solid var(--t-section-border-color);
        border-radius: var(--t-section-border-radius);
        overflow: hidden;
        background-color: white;
        padding: 0;
    }

}

.section-h2:nth-of-type(odd) .tjs__sec-card-2col .row {
    flex-direction: row-reverse;
    //--joda-class: "flex-row-reverse";
}
