.tjs-hero-title-small {

    --layout-margin-top: 0;


    margin-top: var(--layout-margin-top);

    width: 100%;
    align-items: center;
    position: relative;
    justify-content: center;
    overflow: hidden;
    text-align: center;


    .imagewrapper {
        aspect-ratio: 16 / 9;
        max-height: 60vh;
        min-height: 250px;
        width: 100%;
        padding-bottom: 40px;

        &:has(slot:empty) {
            visibility: hidden;
            min-height: 0;
            height: 0;
        }

        & > slot.image-slot {
            width: 100%;
            height: 100%;

            & > img, & > div {
                object-fit: cover;
                object-position: center center;
                width: 100%;
                height: 100%
            }
        }
    }


    h1 {
        padding: 20px;
    }
}
