
.page1 {

    --section-spaceing: 7.5rem;
    --bs-primary: #E0B731;
    --bs-secondary: #9BB1B7;
    --bs-success: #2E4870;
    --bs-danger: #A87E90 ;
    --bs-light: #FBFAFA;
        --layout-break1: xl;
        --section-spacing: 4.5rem;
        --background-light: #ffffff;
        --as-section-spacing: 4.5rem;


    h3 i.bi::before {
        line-height: inherit;
        vertical-align: sub;
        color: var(--bs-primary, #000);
    }


    .section-h1 {
        --joda-class: header1;
        .content {
            padding-right: 60px;
            --joda-class: container;
            h1 {
                --joda-class: text-center :: display-5 :xl: display-3;
            }
        }
    }


    .sec2 {
        padding-top: var(--section-spaceing);
        padding-bottom: var(--section-spaceing);
        h2{
            --joda-class: text-center display-4;
        }
        --joda-class: container;
        .section-h3 {
            h3 {
                --joda-class: text-success;
            }
            --joda-group: @row;
            --joda-class: col g-5;
        }
    }


    .showcase {
         padding-top: 10rem;
        .content {
            --joda-class: container position-relative;

            .as__screen:nth-child(1) {
                transform: perspective(60vw) rotateY(calc(-5deg + var(--mouse-x) * 0.02deg)) rotateX(calc(-0deg + var(--mouse-y) * 0.002deg));
            }
            .as__screen:nth-child(2) {
                transform: perspective(60vw) rotateY(calc(10deg + var(--mouse-x) * 0.03deg)) rotateX(calc(-0deg + var(--mouse-y) * 0.004deg));
            }
        }
    }

    @import "style/header";
    @import "style/sec3";
    @import "style/sec4";

    .dark {
        background: var(--bs-primary, #000);
        color: var(--bs-light, #fff);
        a {
            color: inherit;
        }

    }

    nav {
        --joda-class: use-navblox as__navblox;
        --as-navblox-secondary-color: transparent;
        --as-navblox-nav-text: #ccc;
        .as__hamburger {
            --hamburger-bar-color: #ccc;
            --hamburger-size: 0.7rem;
        }

    }

    footer {
        background: #2d374b;

        .as__footer {
            --as-footer-background: #2d374b;
        }

        --joda-use: footer1();
        --layout-container: container;
        --layout-minifooter: #minifooter;

        p, a {
            color: rgba(255, 255, 255, 0.8)
        }
        a:hover {
            color: rgba(255, 255, 255, 1)
        }

        h3 {
            margin-top: 4rem;
            font-size: 1.0rem;
            // make uppercase
            text-transform: uppercase;
        }
    }




}

