
@import "../themes/_vendor/font-urbanist";

$font-family-base: 'Urbanist', sans-serif;
$font-size-base: 1.0rem !default;

$font-family-headeer: $font-family-base !default;
$font-size-header: 2.8rem !default;
