
joda-content {
  /* indicates the stylesheet is loaded */
  --joda-init: 1;

  &.debug {
    * {
      border: 1px solid red;
      margin-left: 10px;
      padding: 5px;
    }
  }
}

* {
  --joda-wrap: unset;
}

img {
  --joda-wrap: "@image";

  aspect-ratio: 1;

  max-width: 100px;
}



.mask {
  --mask-image: url(/assets/morphing.svg);
  mask-image: var(--mask-image);
  mask-mode: alpha;
  mask-size: contain;
  mask-repeat: no-repeat;
}

h1 {
  --joda-attach: "/";
  --joda-box: "header";
}

h2 {
  --joda-attach: "/";
  --joda-box: "section"
}


h2:nth-of-type(2) {
  --joda-attach: "/";
  --joda-box: "section @bg-primary";
}

hr {
  --joda-attach: "&";
  --joda-box: "style"
}

h3 {
  --joda-attach: "row @row";
  --joda-box: "col @col";
}

.tt-container-fluid {
  --tjs-container: 'container-fluid';
}

.tt-section {
  --tjs-attach: "root";

  /* replace the Element with this code */
  --tjs-replace-by: "@container > @row §row >| Hello World"
}


.tt-card {
  --tjs-param-def--title: "Hier können Sie einen Titel eingeben";
  --title: "Default Title";

  --tjs-replace-by: "@card :: col-12 :xl: col-6 > @card-body >| Card Hello World"
}


.jau-form {

}
