

.bg-soft-primary {
    background-color: $soft-primary !important;
}
.bg-soft-success {
    background-color: $soft-success !important;
}
.bg-soft-danger {
    background-color: $soft-danger !important;
}
.bg-soft-warning {
    background-color: $soft-warning !important;
}
.bg-soft-dark {
    background-color: $soft-dark !important;
}

.bg-accent {
    background-color: $accent !important;
}
