@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";


.navbar-centerlogo {

    --layout-bg-default: transparent;
    --layout-bg-sticky: #fff;
    --layout-bg-sticky-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
    --layout-burger-color: var(--t-accent);
    --layout-menu-color: var(--bs-primary);
    --layout-image-height: 80px;
    --layout-zoom-ratio: 2;
    --layout-zoom-ratio-mobile: 1.3;
    --layout-backdrop-height: 20px;

    --layout-spacer-height: 0px;
    --layout-spacer-color: rgba(255,255,255,1);
    --layout-spacer-height-mobile: calc(var(--layout-image-height) * var(--layout-zoom-ratio-mobile));


    --e-zoom-ratio: var(--layout-zoom-ratio);
    @media (width < $breakpoint-mobile) {
        --e-zoom-ratio: var(--layout-zoom-ratio-mobile);
    }




    &>.e--spacer {
        @media (width < $breakpoint-mobile) {
            height: var(--layout-spacer-height-mobile);
        }
        height: var(--layout-spacer-height);
        position: relative;
        background-color: var(--layout-spacer-color);

    }
    &>.e--backdrop {
        position: absolute;
        width: 100vw;
        left: 0;
        z-index: 9;
        height: var(--layout-backdrop-height);
        background: linear-gradient(180deg, var(--layout-spacer-color) 0%, rgba(0,0,0,0) 100%);
    }
    &>.navbar {
        background-color: var(--layout-bg-default);

        position: absolute;
        top: 0;
        width: 100vw;
        height: auto;
        z-index: 999;

        .brand img {
            height: auto;

            width: 50%;
        }


        &.unscrolled {


        }

        &.scrolled {
            box-shadow: var(--layout-bg-sticky-shadow);
            img.brand {
                width: auto;
                height: 80px;

            }
        }


        transform: translateY(0);
        transition: all 0.3s ease-in-out;
        &.scrollup {
            transform: translateY(-100%);
        }


        &>.navbar__wrapper {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            flex-direction: row;

            & > *{
                flex-grow: 1;
                display: flex;
                width: 33%;
            }
            &>.navbar__logo {
                transition: all 0.5s ease-in-out;
                align-items: center;
                justify-content: center;
                display: flex;


                img {
                    height: var(--layout-image-height);
                    transition: all 0.25s ease-in-out;
                    width: auto;  transform: translateY(50% ) scale(var(--e-zoom-ratio));
                    max-width: 70vw;
                }

            }
            @import "burger-menu";

        }





        &.scrolled {
            height: var(--layout-scrolled-height);
            position: fixed;
            top: 0;
            width: 100vw;
            background-color: var(--layout-bg-sticky);
            .navbar__logo img {
                transform: translateY(0) scale(1);
            }
        }

    }




    @import "sidebar";


}
