

.tjs__cta-base {
    --layout-padding: var(--t-section-padding);
    --layout-background-color: var(--t-background-accent);
    padding: var(--layout-padding) !important;

    background: var(--layout-background-color);

     h2, p {
        text-align: center;
    }
    a {
        --joda-class: btn btn-primary btn-lg m-1;
    }
}
