.tjs__footer-base {



    &.dark {
        background-color: var(--t-background-dark);
        color: var(--t-text-dark);

        a {
            color: var(--t-text-dark);
        }
    }

    background-color: var(--t-background-footer);
    color: var(--t-text-footer);
    width: 100%;
    min-height: 100px;
    overflow: hidden;

    padding: 40px 0 0 0 ;

    border-top: 4px solid var(--t-section-background-accent);
    border-bottom: 4px solid var(--t-section-background-accent);


    .row {
        margin: 0;

        &> * {
            padding: 40px;
        }
    }

    a {
        opacity: 0.8;
        transition: opacity 0.2s ease-in-out;
        &:hover {
            opacity: 1;
        }
    }

    .subfooter {
        width: 100%;
        padding: 20px;
        overflow: hidden;
        border-top: 1px solid var(--t-section-background);
        text-align: center;

        img {
            filter: grayscale(100%);
            &:hover {
                filter: grayscale(0%);
            }
        }

    }
    h3 {
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 1em;
        text-transform: uppercase;
        color: var(--t-header-color);
        font-weight: bold;
    }
    .container-fluid .content {
         padding: 30px;
    }
    .container .content {
        padding: 20px;
    }
    ul {
        padding-left: 0;
        &>li {
            list-style: none;
            margin-bottom: 10px;
            &>a {
                text-decoration: none;
            }
        }
     }
    .content {
         border-right: 1px solid var(--t-section-border-color);
        &:last-of-type {
            border-right: none;
        }
      }

    .content:last-of-type {
           --joda-class: unset;
       }
}

