.tjs-testimonial-ribbon {


    --layout-section-background: var(--t-background-primary);
    --layout-image-size: 200px;
    --layout-image-size-mobile: 120px;
    --layout-section-padding: var(--layout-section-padding);


    --layout-content-padding: 40px;

    --layout-font-size: 1.3rem;

    padding: var(--t-section-padding);
    background-color: var(--layout-bg);





    .x--wrapper {
        background-color: var(--layout-section-background);

        padding-top: var(--layout-section-padding);

    }

    &.mobile .x--wrapper {
        margin-top: calc(var(--layout-image-size-mobile) / 2);
    }
    .x--row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &.mobile {
        .x--row {
            flex-direction: column;
        }
    }

    &.mobile div.x--image > slot{
        margin-top: -50%;

    }
    &.mobile div.x--image {
        padding: 0;
    }
    &.mobile div.x--image > slot {
        border: 4px solid var(--layout-section-background);
    }
    div.x--image {

        position: relative;
        padding: var(--layout-content-padding);
        &>slot {

            display: block;
            width: var(--layout-image-size);
            height: var(--layout-image-size);
            border: 1px solid white;
            border-radius: 100%;
            &>img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 100%;
            }
        }

    }
    slot.x--text {
        padding: var(--layout-content-padding);
        display: block;
        h2,h3 {
            display: none;
        }


        p {
            font-size: var(--layout-font-size);
            line-height: 1.5;
            font-weight: lighter;
            font-style: italic;
        }
        p:last-child {
            margin-bottom: 0;
            font-weight: normal;
        }
    }
}

