:root {
    --layout-break1: xl;
    --section-spacing: 4.5rem;
}

nav {
    --joda-use: navbar();
}

footer {
    --joda-use: footer();
    --joda-class: dark;
}

section.section-h1 {
    --joda-use: hero1();
    background: white;
}

:nth-child(1 of section.section-h2) {
    --joda-use: col2();

    .section-h3 {
        --joda-class: col-xl-6;
        --joda-group: @row;
    }
}

section.section-h2 {
    margin-top: var(--section-spacing);
}

.dark {
    h1,h2,h3,h4,h5,h6,p,span,li,td,th,a {
        color: var(--as-dark-text-color, rgba(255,255,255,0.85));
    }
    a {
        &:hover {
            color: var(--as-dark-text-color-hover, rgba(255,255,255,1));
            opacity: 1;
        }
    }
}


.sprechzeiten {
    --joda-wrap: '@card > @card-body';
    --joda-class: text-center;
    h3 {
        --joda-class: text-center mb-3;
    }
    table {
        --joda-class: table table-hover;
    }
}
