
$primary: #007bff !default;
$secondary: #6c757d !default;
$light: #f8f9fa !default;


$as-mainbar-color: white !default;
$as-minibar-color: $primary !default;

$content-height-adjustment: 0px !default;
$min-page-height: 600px !default;

.row {
  & > div {
    --joda-class: 'col';

  }
}




joda-content {
  --joda-init: true;
}
