

.tjs__root-format {

    color: var(--t-text-color);
    background: var(--t-background);

    // General Section padding
    section:last-of-type > * {
        padding-bottom: 0;
    }

    section h2 {
        text-transform: uppercase;
       // font-weight: bold;

        margin: var(--t-paragraf-margin);
    }

    .tjs__section-text {
        h2 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 16px;
            color: var(--t-text-color-primary) !important;
            margin: var(--t-paragraf-margin);
        }
        blockquote > p {
            font-size: 2.4em;
            line-height: 1.2em;
            color: var(--t-text-color) !important;
            margin: var(--t-header-margin, 0 0 20px 0);
        }

        .table {
            --bs-table-color: var(--t-text-color);
        }

        *:last-child {
            margin-bottom: 0;
        }
    }



    ul > li  {
        color: var(--t-text-color);
        * {
            color: var(--t-text-color);
        }
    }

    h1,h2,h3,h4,h5,h6 {
        font-weight: 400;
        color: var(--t-text-color);
        margin: var(--t-header-margin, 0 0 20px 0);
    }

    h1,h2 {
        font-size: 2em;
        line-height: 1.5em;
    }
    h3 {
        font-size: 1.5em;
        line-height: 1.1em;
    }


    table {
        color: inherit;
        &> tr {
            color: inherit;
            &>td {
                color: inherit;
            }
        }
    }



    // Paragraph styling
    p:empty {
        margin: 0;
    }

    p {
        margin: var(--t-paragraf-margin);
        line-height: 1.1em;
    }

    p:first-child {
        //color: var(--t-text-color-accent)
    }

    // Important: Remove margin from last paragraph in section
    p:last-child,table:last-child {
        margin-bottom: 0;
    }




}
