


.as__navbar {
    height: auto;
    top: 0;
    width: 100%;

    &.fixed {
        position: fixed;
        top: 0;
        width: 100%;
    }
    &.absolute {
        position: absolute;
        top: 0;
        width: 100%;
    }

    transition: opacity 1s ease-in-out;
    position: fixed;
    z-index: 999;
    isolation: isolate;
    opacity: 1;

    &.auto-fixed {
        &.scrolled {
            &.fixed {
                opacity: 1;
                position: fixed;
            }
            opacity: 0;
        }
    }


    .as__minibar {
        overflow: hidden;
        background-color: var(--as-minibar-color);
        height: var(--as-minibar-height, 24px);
        transition: height 0.3s ease-in-out;
        z-index: 9999;
        ul {
            text-align: right;
            text-decoration: none;
            list-style-type: none;
            li {
                display: inline-block;
                margin: 0 0.5rem;
                a {
                    text-decoration: none;
                    color: var(--as-minibar-text-color);
                    &:hover {

                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .as__mainbar {
        .nav-link {
            padding-right: 0.8rem;
            padding-left: 0.8rem;
        }

        .navbar-collapse.show {
            background-color: var(--as-mainbar-bg, white);

        }
        .navbar-toggler {
            background-color: rgba(255, 255,255, 0.5);
        }
    }
}

.as__navbar.scrolled {
    .as__minibar {
        height: 0;
    }
}

/* Theme specific styles */
.as__navbar.default {

    .as__mainbar {
        background-color: var(--as-mainbar-bg, white);
        border-bottom: 1px solid $primary;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    }
    .as__minibar {
        font-size: 13px;
        line-height: 24px;
        background-color: var(--as-minibar-bg, $primary);
        a {
            color: white;
        }
    }
}

.as__navbar.transparent {
    .as__minibar{
        border: 0;
        font-size: 13px;
        line-height: 24px;
    }
    .as__mainbar {
        background-color: transparent !important;
        transition: all 0.3s ease-in-out;
        border: 0;

        a {
            font-weight: bolder;
            // text-frame outset in white to read text better on background
            text-shadow: 1px 1px 1px $light, -1px -1px 1px $light, 1px -1px 1px $light, -1px 1px 1px $light;


        }
    }

}
.as__navbar.transparent.scrolled {
    .as__mainbar {
        background-color: var(--as-mainbar-bg, white) !important;
        border-bottom: 1px solid $primary;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

    }
    .as__minibar {
        height: 0;
    }
}
