.tjs__cta-form {
    --layout-padding: var(--t-section-padding);
    --layout-background-color: var(--t-background-accent);

    padding: var(--layout-padding);


    .invalid-feedback {
        padding-bottom: 30px   ;
    }
    .wrapper {
        padding: var(--layout-padding);
        background: var(--layout-background-color);
        .row > div {
            --joda-class: "col-12 col-md-6";
        }
    }

    input, textarea, select {
        --joda-use: "input()";
    }
}
