@import "../../variables";
@import "../_mixins/default-element-format";
@import "../_defaults/headering-style-flex";



:root {
    --layout-container: container;



    --t-border-radius: #{$section-border-radius};
    --t-background-footer: #{$background-footer};
    --t-text-footer: #{$text-footer};
    --t-footer-header-color: #{$text-footer};
    --t-section-border-color: #{$section-border-color};
    --t-background-dark: #{$background-dark};
    --t-text-dark: #{$text-dark};
    --t-header-dark: #{$text-dark};
    --t-link-dark: #{$text-dark};
}
.theme1 {
    @include default-element-format();
    --t-background: #{$background};
    color: var(--t-text-color);
    background: var(--t-background);


    h1,h3,h4,h5 {
        color: var(--t-text-color);
    }

    h2 {
        color: var(--t-primary);
    }



    table > tbody > tr > td {
        background: transparent;
    }


    footer {
        p {
            color: inherit;
        }
    }


    --t-background-footer: #fff;
    --t-section-background: transparent;
    --t-section-background-primary: #{$background-primary};
    --t-text-background: #fff;
    --t-text-color: #{$text-color};
    --t-text-background-light: var(--t-background);
    --t-text-color-accent: var(--bs-gray-900);
    --t-text-color-primary: var(--bs-primary);


    --t-header-margin: 0 0 20px 0;
    --t-paragraf-margin: 0 0 20px 0;

    --t-section-padding: 40px 0;
    --t-section-inner-padding: 3rem;

    .tjs__sec-legal-content {
        padding-top: 100px;
    }

    section:last-child {
        padding-bottom: 0;
    }

    //    background: var(--bs-light);

    a.btn.btn-primary {
        color: white !important;
    }
    input.btn.btn-primary {
        color: white !important;
    }

    .btn {
        border-radius: $border-radius;
    }

    map {
        --joda-class: ":: aspect-1x1 :lg: aspcect-16x9";
    }


    .title_image {
        background: linear-gradient(180deg, rgba(230,225,221,1) 0%, rgba(245,240,236,1) 35%, rgba(238,238,238,1) 100%);;
        & > img {
            object-position: 80% 0;
            object-fit: contain;
        }
    }

    .as__accordion {
        border: 1px solid var(--bs-gray-100);
        --as-accordion-open-bg: #fff;
        h3 {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .section-h3 {
            border: 1px solid var(--bs-gray-200);
            background-color: var(--bs-gray-100);
        }
        .content {
            background-color: #fff;
            p,ul,ol {
                margin: 20px 20px 20px 0;
            }
        }

    }


    .openhours {
        tr {
            td:first-child {
                // Test should be on top of the cell
                vertical-align: top;
                font-weight: bold;
                padding-right: 20px;
            }
            border-bottom: 1px solid var(--bs-gray-200);
            &:last-child {
                border-bottom: none;
            }
        }
    }

}

