
.tjs-button-group {

    --layout-gap: 1rem;
    // --layout-breakpoint: 1024px; Not Working on media query

    &>slot {
        display: flex;
        flex-wrap: wrap;

        p {
            display: flex;
            flex-direction: row;
            @media (width < 500px) {
                flex-direction: column;
            }
            align-items: stretch;
            gap: var(--layout-gap);
            &>* {
                flex-grow: 1;

            }
        }

    }

}
