
.header1 {
    min-height: 75svh;
    position: relative;

    display: flex;
    //Align the flex items in the vertical and horizontal center
    justify-content: center;
    align-content: center;

    align-items: center;
    text-align: center;

    h1 {
        font-weight: 100;
        font-style: normal;
        padding: 2rem;
    }

    p {
        font-size: 1.5rem;
        font-weight: 300;
        font-style: normal;
        padding: 2rem;
        padding-bottom: 0rem;
    }

    .btn {
        --joda-class: shadow;
    }


    &::before {
        position: absolute;
        z-index: -1;
        content: "";
        left: 0;
        top: -100%;
        bottom: 0;
        right: 30px;
        //background: var(--bs-light, #ccc);
        background: linear-gradient(90deg, var(--bs-light) 0%, rgba(0,0,0,0.2) calc(30%),  var(--bs-light) 100%);
        transform: perspective(calc(100vw)) rotateY(10deg);
        //transform: perspective(calc(var(--mouse-x) * 1.5px)) rotateY(calc(var(--mouse-y) * 1.5deg));
        box-shadow: calc(var(--mouse-x) * 0.005px) calc(var(--mouse-y) * 0.005px) 10px 0 rgba(0, 0, 0, 0.1);
        border-radius: 0 0 80px 0;
    }
}
