
.sec3 {
    min-height: 60svh;
    position: relative;
    z-index: 2;
    margin-bottom: var(--section-spaceing);
    padding-top: var(--section-spaceing);
    padding-bottom: var(--section-spaceing);
    //Align the flex items in the vertical and horizontal center
    justify-content: center;
    align-content: center;

    align-items: center;
    text-align: center;

    h2 {
        --joda-class: display-4;
        padding: 3rem;
    }
    h2 {
        padding-bottom: 3rem;
    }
    .section-h3 {
        --joda-group: @row;
        --joda-class: col g-5;
        text-align: left;
        padding-bottom: 2rem;
    }

    & > .content {
        width: 100%;
        --joda-class: container;
        z-index: 2;
    }

    & > .children {
        width: 100%;
        --joda-class: container;
        z-index: 1;
    }

    padding-left: 30px;

    &::before {
        position: absolute;
        z-index: -1;
        content: "";
        left: 30px;
        top: 0;
        bottom: 0;
        right: 0;
        background: var(--bs-light, #ccc);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        border-radius: 40px 0 0 40px;
        //transform: perspective(60vw) rotateY(calc(-5deg + var(--mouse-x) * 0.05deg)) rotateX(calc(-0deg + var(--mouse-y) * 0.005deg));

    }
}
