

.sec4 {

    --joda-class: container;

    .section-h3:nth-child(1) {
        --joda-class: 'my-auto :: col-12 order-2 :md: col-6 order-2 :xl: col-4';
    }
    .section-h3:nth-child(2) {
        --joda-class: 'my-auto mx-auto :: col-12 order-1 :md: col-12 order-1 :xl: col-4';
    }
    .section-h3:nth-child(3) {
        --joda-class: 'my-auto :: col-12 order-3 :md: col-6 order-3 :xl: col-4';

    }
    .section-h3 {
        --joda-group: @row;
        //--joda-class:  my-auto :: col-12 :xl: col-4;

        padding-bottom: 2rem;
        img {

            --joda-wrap: @d-flex @justify-content-center > @class=ratio ratio-1x1 :md: w-50 :xl: w-100;
            object-fit: cover;
            object-position: center left;
            --joda-class: mask shape-blob1-anim;
        }
    }

}
